IOT2/opagave5.json
[
    {
        "id": "261ba8a85bd71fc4",
        "type": "tab",
        "label": "Opgave 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8efb8c2b452b68c",
        "type": "inject",
        "z": "261ba8a85bd71fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "49689610d2560dc9"
            ]
        ]
    },
    {
        "id": "70a460430736f58d",
        "type": "debug",
        "z": "261ba8a85bd71fc4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 420,
        "wires": []
    },
    {
        "id": "49689610d2560dc9",
        "type": "random",
        "z": "261ba8a85bd71fc4",
        "name": "Temperature",
        "low": "-273.15",
        "high": "273.15",
        "inte": "false",
        "property": "temperature",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "cc63776d54cef97d"
            ]
        ]
    },
    {
        "id": "cc63776d54cef97d",
        "type": "function",
        "z": "261ba8a85bd71fc4",
        "name": "function 2",
        "func": "let history = flow.get(\"history\");\n\nmsg.payload = {\n    \"status\": msg.temperature > 30 ? \"ALARM\" : \"OK\",\n    \"value\": msg.temperature,\n    \"timestap\": msg.payload,\n    \"history\": history,\n};\n\nhistory.push(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "let history = [];\nflow.set(\"history\", history);",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "70a460430736f58d"
            ]
        ]
    }
]
